[Desktop Entry]
Type=Application
Name=VCMI Map Editor
Name[cs]=Editor map VCMI
Name[de]=VCMI Karteneditor
GenericName=Strategy Game Map Editor
GenericName[cs]=Editor map strategické hry
GenericName[de]=Karteneditor für Strategiespiel
Comment=Map editor for the open-source recreation of Heroes of Might & Magic III
Comment[cs]=Editor map pro open-source engine Heroes of Might and Magic III
Comment[de]=Karteneditor für den Open-Source-Nachbau von Heroes of Might and Magic III
Icon=vcmieditor
Exec=vcmieditor
Categories=Game;StrategyGame;
Version=1.1
Keywords=heroes of might and magic;heroes;homm;homm3;strategy;
