[Desktop Entry]
Type=Application
Name=VCMI Map Editor
GenericName=Strategy Game Engine
Comment=Map editor for open engine of Heroes of Might and Magic 3
Icon=vcmieditor
Exec=vcmieditor
Categories=Game;StrategyGame;
Version=1.0
Keywords=heroes;homm3;
