[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
	branch = v1.13.x
[submodule "AI/FuzzyLite"]
	path = AI/FuzzyLite
	url = https://github.com/fuzzylite/fuzzylite.git
	branch = release
