/client/vcmiclient
/server/vcmiserver
/launcher/vcmilauncher
/launcher/vcmilauncher_automoc.cpp
/conan-generated

build/
.cache/*
out/
*.dll
*.exe
*.depend
*.o
*.a
*.so
*.res
*.layout
*.pro.user
*.pro.user.*
*.swp
*.h.gch
*~
*.autosave.*
/CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
moc_*.cpp
qrc_*.cpp
ui_*.h
/CPackConfig.cmake
/CPackSourceConfig.cmake
build-*
CMakeLists.txt.user.*
Doxyfile
doc/*
VCMI_VS11.sdf
*.ipch
VCMI_VS11.opensdf
.DS_Store

# Visual Studio
*.suo
*.user
/AI/*/RD
/AI/BattleAI/*/RD
/client/RD
/launcher/RD
/lib/RD
/lib/minizip/RD
/lib/minizip/*/RD
/scripting/erm/RD
/scripting/erm/*/RD
/server/RD
/test/RD
/VCMI_VS11.VC.opendb
/AI/FuzzyLite.lib
/deps
.vs/
