[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
	branch = v1.15.x
[submodule "innoextract"]
	path = launcher/lib/innoextract
	url = https://github.com/vcmi/innoextract.git
	branch = vcmi
[submodule "dependencies"]
	path = dependencies
	url = https://github.com/vcmi/vcmi-dependencies.git
[submodule "client/lib/discord-presence"]
	path = client/lib/discord-presence
	url = https://github.com/vcmi/discord-presence.git
	branch = vcmi
