Source: vcmi
Section: games
Priority: optional
Maintainer: Ivan Savenko <saven.ivan@gmail.com>
Build-Depends: debhelper-compat (= 13), cmake, zlib1g-dev, libboost-dev, libboost-date-time-dev, libboost-program-options-dev, libboost-filesystem-dev, libboost-iostreams-dev, libminizip-dev, libsqlite3-dev
Standards-Version: 4.6.2
Homepage: https://vcmi.eu

Package: vcmi-lobby
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multiplayer lobby server for VCMI
 Standalone server component for the VCMI multiplayer lobby.
