[Desktop Entry]
Type=Application
Name=VCMI Client
Name[cs]=VCMI Klient
GenericName=Strategy Game Engine
GenericName[cs]=Engine strategické hry
Comment=Open engine for Heroes of Might and Magic 3
Comment[cs]=Open-source engine pro Heroes of Might and Magic III
Icon=vcmiclient
Exec=vcmiclient
Categories=Game;StrategyGame;
Version=1.0
Keywords=heroes;homm3;
