[Desktop Entry]
Type=Application
Name=VCMI Client
GenericName=Strategy Game Engine
Comment=Open engine for Heroes of Might and Magic 3
Icon=vcmiclient
Exec=vcmiclient
Categories=Game;StrategyGame;
Version=1.0
Keywords=heroes;homm3;
