name: Notify other repos of release
on:
  release:
    types: [published]
jobs:
  notify_repos:
    if: ${{ !github.event.release.prerelease }}
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch only for releases
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.HOMEBREW_TOKEN_SECRET }}
          repository: vcmi/homebrew-vcmi
          event-type: on-release
          client-payload: '{"release": ${{ toJson(github.event.release) }}}'
